# CyberShield — Variables de entorno
# Copia este archivo como .env y rellena los valores

# MongoDB Atlas
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/CyberShield

# JWT
JWT_SECRET=tu-clave-secreta-aqui

# Server
PORT=3001

# n8n (Orquestador)
N8N_WEBHOOK_URL=http://localhost:5678

# Wazuh SIEM
WAZUH_HOST=10.10.10.49
WAZUH_PORT=9200
WAZUH_USER=admin
WAZUH_PASS=admin

# Kali Linux (SSH)
SSH_HOST=10.10.10.X
SSH_PORT=22
SSH_USER=kali
SSH_PASS=kali
